# Ignore parent directories and unrelated files
../SER502_BolBachan_Team32/
../SER502_QuirkScript_Team32.zip
../SER502_QuirkScript_Team32/
../sample6.txt

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
